
:root {

    /* COLORS */
    --bg: 255, 255, 255;
    --bg-alt: 236, 236, 236;
    --text: 26, 26, 26;
    --accent: 255, 139, 66;
    --smooth: 255, 225, 207;

    --clr-bg: rgb(var(--bg));
    --clr-bg-alt: rgb(var(--bg-alt));
    --clr-text: rgb(var(--text));
    --clr-accent: rgb(var(--accent));
    --clr-smooth: rgb(var(--smooth));

    /* FONTS */
    --fnt-text: 'Montserrat', sans-serif;
    --fnt-title: 'Quicksand', sans-serif;

    --size-very-small: 12px;
    --size-small: 14px;
    --size-medium: 20px;
    --size-large: 30px;
    --size-very-large: 48px;

    /* TRANSITION */
    --transition: .3s ease all;

    /* DIMENSION */
    --dms-header-height: 80px;
    --dms-lateral-margin: 150px;

}

/** ------------------------- GENERAL ------------------------- */

html, body {
    height: 100%;
    scroll-behavior: smooth;
    background: var(--clr-bg);
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: default;
    font-family: var(--fnt-text);
    color: var(--clr-text);
}

*::selection {
    background: transparent;
}

/** ------------------------- INPUT/BUTTON ------------------------- */

input:focus {
    border: none;
    outline: none;
}

button, input[type='submit'] {
    padding: 3.7px 25px;
    border-radius: 1000px;
    border: none;
    outline: 3px solid var(--clr-accent);
    outline-offset: -1px;
    font-size: var(--size-small);
    font-weight: bold;
    letter-spacing: .2px;
    color: var(--clr-bg);
    box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
    cursor: pointer;
}

button *, input[type='submit'] * {
    cursor: pointer;
}

button.primary, input[type='submit'].primary {background: var(--clr-accent)}
button.custom, input[type='submit'].custom {background: var(--clr); outline-color: var(--clr)}
button.secondary, input[type='submit'].secondary {background: transparent; color: var(--clr-accent)}

button:disabled, input:disabled, i.clickable.disabled {
    opacity: .6;
    cursor: not-allowed !important;
}

/** ------------------------- PAGE ------------------------- */

.page {
    width: 100%;
    min-height: 100%;
    transition: var(--transition);
    z-index: 1;
    scroll-margin-top: calc(var(--dms-header-height) + 55px);
}

.page.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-margin-top: 0;
}

.page.min-page {
    height: auto;
    min-height: auto;
    margin-bottom: 56px;
    scroll-margin-top: calc(var(--dms-header-height) + 60px);
}

.page.hor-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page.ver-flex {
    display: flex;
    align-items: center;
}

/** ------------------------- GLOBAL STYLES ------------------------- */

.page > p.toptitle {
    font-family: var(--fnt-text);
    font-size: var(--size-small);
    font-weight: bold;
    color: var(--clr-accent);
    text-transform: uppercase;
    margin-bottom: 8px;
}

.page > p.title {
    font-family: var(--fnt-title);
    font-size: var(--size-large);
    font-weight: bold;
    color: var(--clr-text);
    text-align: center;
    text-wrap: pretty;
    line-height: 1.2;
}

i.accent-text {
    font-style: normal;
    font-weight: bold;
    color: var(--clr-accent);
    opacity: 1;
}

.clickable, .clickable * {cursor: pointer}

.hide {display: none !important}

.desktop-hide {display: none !important}

/** ------------------------- SCROLLBAR ------------------------- */

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/** ------------------------- ANIMAZIONI ------------------------- */

@keyframes bounce {
    0% {transform: translateY(2px)}
    50% {transform: translateY(-1px)}
    100% {transform: translateY(2px)}
}

@keyframes show {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes scroll {
    from {transform: translateX(0)}
    to {transform: translateX(-50%)}
}

/** ------------------------- HEADER ------------------------- */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--dms-header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 calc(var(--dms-lateral-margin) * 2 / 3);
    background: var(--clr-bg);
    box-shadow: 0 3px 4px rgba(0, 0, 0, .2);
    z-index: 100;
}

header > div {
    height: 100%;
    display: flex;
    align-items: center;
}

header img.logo {
    height: 60%;
    margin-right: 25px;

    color: var(--clr-accent);
    font-weight: bold;
    font-size: var(--size-small);
}

header nav a {
    margin: 0 20px;
    font-size: var(--size-small);
    font-weight: bold;
    color: var(--clr-text);
    text-decoration: none;
    letter-spacing: .3px;
    cursor: pointer;
}

/** ------------------------- HERO ------------------------- */

body.home {
    background-image: url('../assets/img/wave.png');
    background-size: 1100px;
    background-repeat: no-repeat;
    background-attachment: local;
}

#hero {
    height: 100%;
}

#hero main {
    width: calc(100% - var(--dms-lateral-margin) * 2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

#hero .left p.top-txt {
    font-weight: bold;
    font-size: var(--size-medium);
    text-transform: uppercase;
    color: var(--clr-accent);
}

#hero .left p.middle-txt {
    width: 330px;
    margin: 25px 0 50px;
    font-family: var(--fnt-title);
    font-weight: bold;
    font-size: var(--size-very-large);
    color: var(--clr-text);
    line-height: 1.2;
}

#hero .left p.middle-txt i {
    width: 100%;
    font-family: var(--fnt-title);
    font-style: normal;
}

#hero .left p.middle-txt i {
    position: relative;
    width: auto;
}

#hero .left p.middle-txt i:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 1px;
    width: 120%;
    height: 6px;
    transform: translateX(-5%);
    display: block;
    background-image: url('../assets/img/decore.png');
    background-size: 100% 100%;
}

#hero .highlight-card {
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background: var(--clr-bg-alt);
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .35);
    animation: bounce 3s infinite ease-out;
}

#hero .highlight-card .top {
    display: flex;
    align-items: center;
}

#hero .highlight-card .top img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-right: 10px;
    
    font-size: 9px;
}

#hero .highlight-card .top span {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#hero .highlight-card .top span p.title {
    font-size: var(--size-small);
    font-weight: bold;
}

#hero .highlight-card .top span p.date {
    margin-top: 1px;
    font-size: var(--size-very-small);
}

#hero .highlight-card > img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: 50% 50%;
    margin: 15px 0;
    border-radius: 7px;

    text-align: center;
    font-size: var(--size-medium);
}

#hero .highlight-card .info p.name {
    font-size: var(--size-small);
    font-weight: bold;
}

#hero .highlight-card .info p.short-desc {
    margin-top: 2px;
    font-size: var(--size-very-small);
}

#hero .highlight-card .info p.desc {
    margin: 8px 0 16px;
    font-size: var(--size-small);
    text-wrap: pretty;
}

/** ------------------------- SERVICES ------------------------- */

#services main {
    width: calc(100% - var(--dms-lateral-margin) * 2);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#services main .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#services main .circle {
    height: 50px;
    aspect-ratio: 1;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--clr-accent);
    transform: translateY(50%);
}

#services main .circle i {
    font-size: 20px;
    color: var(--clr-bg);
}

#services main .card {
    width: 300px;
    aspect-ratio: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    padding-top: calc(15px + 25px);
    background: var(--clr-text);
    border-radius: 15px;
}

#services main .card p.title {
    font-size: var(--size-small);
    font-weight: bold;
    color: var(--clr-bg);
    letter-spacing: .3px;
}

#services main .card p.desc {
    font-size: var(--size-very-small);
    color: var(--clr-bg-alt);
    text-align: center;
    text-wrap: pretty;
    line-height: 1.3;
}

@media screen and  (max-width: 1250px) {
    #services main {width: calc(100% - var(--dms-lateral-margin) * .5)}
}

/** ------------------------- ABOUT US ------------------------- */

#about main {
    width: calc(100% - var(--dms-lateral-margin) * 3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: var(--clr-bg);
    border: 1px solid var(--clr-text);
    border-radius: 15px;
    padding: 40px;
}

#about main p.title {
    font-family: var(--fnt-title);
    font-size: var(--size-medium);
    font-weight: bold;
    color: var(--clr-text);
    text-align: center;
}

#about main p.pharagraph {
    font-size: var(--size-small);
    color: var(--clr-text);
    text-align: center;
    text-wrap: pretty;
    line-height: 1.5;
    margin: 15px 0;
}

#about main .stats {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}

#about main .stats .data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about main .stats .data p.number {
    font-family: var(--fnt-title);
    font-size: var(--size-large);
    font-weight: bold;
    color: var(--clr-accent);
    margin-bottom: 7px;
}

#about main .stats .data p.desc {
    font-size: var(--size-small);
    font-weight: bold;
}

/** ------------------------- TECHONOLOGIES ------------------------- */

#tech {
    margin-bottom: 80px;
}

#tech main {
    position: relative;
    height: 90px;
    width: calc(100% - var(--dms-lateral-margin) * 2);
    display: flex;
    overflow: hidden;
    margin: 50px 0 20px;
}

#tech main .carousel {
    display: flex;
    animation: scroll 13s linear infinite;
}

#tech main .carousel img {
    height: 100%;
    width: auto;
    filter: grayscale(100%);
    margin: 0 10px;
    transition: var(--transition);
}

#tech main .carousel p.separator {
    width: 80px;
    visibility: hidden;
}

@media screen and (min-width: 1000px) {
    
    #tech main:hover .carousel {animation-play-state: paused}
    
    #tech main .carousel img:hover {filter: none; cursor: pointer}

}

/** ------------------------- PROJECTS ------------------------- */

#proj .filters {
    display: flex;
    align-items: center;
    margin: 40px 0;
}

#proj .filter {
    padding: 4px 25px;
    margin: 0 8px;
    font-size: var(--size-small);
    font-weight: bold;
    color: var(--clr-text);
    background: var(--clr-smooth);
    border-radius: 100px;
}

#proj .filter.active {
    background: var(--clr-accent);
}

#proj main {
    width: calc(100% - var(--dms-lateral-margin) * 3);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

#proj .project {
    width: 300px;
    aspect-ratio: 2;
    margin: 20px 15px;
    border: 3px solid var(--clr-accent);
    overflow: hidden;
    border-radius: 10px;
    transition: var(--transition);
}

#proj .project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
}

#proj .project .shadow {
    width: 100%;
    height: 110%;
    background: rgb(0, 0, 0, .7);
    display: flex;
    justify-content: left;
    align-items: end;
    transition: var(--transition);
}

#proj .project p.name {
    font-weight: bold;
    font-size: var(--size-medium);
    color: var(--clr-bg-alt);
    letter-spacing: .8px;
    transform: translate(14px, -14px);
}

#proj .project:hover .shadow {
    translate: 0 -102%;
}

/** ------------------------- CONTACTS ------------------------- */

#contacts-wave {
    width: 100%;
    transform: translateY(10%);
}

#contacts-wave path {fill: var(--clr-smooth)}

#contacts {
    background: var(--clr-smooth);
}

#contacts form {
    width: 80%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
}

#contacts .hidden {
    opacity: 1;
    animation: show .7s ease;
    transition: var(--transition);
}

#contacts input:not([type='submit']),
#contacts textarea {
    width: 100%;
    margin: 10px 0;
    padding: 9px 15px;
    border-radius: 100px;
    font-size: var(--size-small);
    border: none;
    outline: none;
    cursor: text;
}

#contacts textarea {
    border-radius: 11px;
    height: 200px;
    resize: none;
}

#contacts input[type='submit'] {
    width: 150px;
    margin: 10px 0 25px;
}

#contacts .social {
    display: flex;
    justify-content: center;
}

#contacts .social i {
    font-size: 28px;
    margin: 0 13px;
    color: var(--clr-accent);
}

/** ------------------------- POLICY ------------------------- */

#policy {
    padding: 0 15%;
    padding-bottom: 50px;
}

#policy p {
    width: 100%;
}

#policy a {
    text-decoration: underline;
    text-underline-offset: 2px;
    cursor: pointer;
}

#policy p.text {
    font-size: var(--size-small);
    line-height: 1.5;
}

#policy p.list-el::before {
    content: "• ";
}

#policy p.section-title {
    font-size: var(--size-medium);
    font-weight: bold;
    color: var(--clr-text);
    margin: 30px 0 10px;
}

/** ------------------------- FOOTER ------------------------- */

footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px var(--dms-lateral-margin);
    background: var(--clr-text);
}

footer p, footer a {
    color: var(--clr-bg);
    font-size: var(--size-small);
    text-underline-offset: 2px;
}
